@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
    url('../fonts/ubuntu-mono-v8-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/ubuntu-mono-v8-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'),
    url('../fonts/ubuntu-mono-v8-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/ubuntu-mono-v8-latin_cyrillic-700.woff') format('woff');
}
